@tailwind base;
@tailwind components;
@tailwind utilities;

.s, .n, .t {
  font-size: 0;
}

.s::before, .n::before, .t::before {
  font-size: 1.5rem;
  width: 1rem;
  line-height: 2rem;
  font-family: monospace;
}

.s::before {
  content: '·';
}

.n::before {
  content: '↵';
  display: inline-block;
}

.t::before {
  content: '⇥';
  display: inline-block;
}
